*.log
*.7z
linux_release
demo
cdemo
sdemo
*.so
*swp
*.tags
*.a
*.so

*.db
*db
Debug*
Release*
ipch*

*.so
*.o
*tags
*.swp
*~
build-*
ui_*.h
*.zip
*.tar.gz
Test*
Releae*
Release
!Release.sh
parklc

.vscode/
lc/parklc
lc/tools/parklot
master.code-workspace
mod_adm_sqlite/ready
mod_dock/client/client
SPM_XinJiangApp/corelib/pay
SPM_XinJiangApp/release/dst_TSP86/pay/pay
